html {
    font-family: 'Spartan', sans-serif;
}

h1 {
    font-size: 40px;
}

.collection {
    color: violet;
    background-color: violet;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.btn {
    margin-top: 20px;
    margin-left: 20px;
}


