html {
    font-family: 'Spartan', sans-serif;
}

h1 {
    font-size: 40px;
}

.collection {
    color: violet;
    background-color: violet;
    margin-bottom: 15px;
}

.btn {
    margin-top: 20px;
    margin-left: 20px;
}


