html {
    font-family: 'Spartan', sans-serif;
}

.card {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    height: 200px;
}

img {
    width: 200px;
    height: 300px;
}

.btn {
    margin-top: 20px;
    margin-left: 20px;
}