html {
    font-family: 'Spartan', sans-serif;
}

#below { 
    position: relative;
    top: 100px;
    list-style-type: none;
}

embed {
    margin-top: 110px;
    margin-left:24%;
    justify-content: center;
    width: 50%;
    height: 600px;
}

.card {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    height: 200px; 
    
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.card-title {
    font-weight: 900 !important;
    font-size: 35px;
}

.brand-logo {
    margin: 5px;
}

 @media screen and (max-width: 1000px) {
  
   .card {
       height: auto;
       width: auto;
   }

    .card-title {
    font-weight: 900 !important;
    font-size: 15px !important;
    }
}