html {
    font-family: 'Spartan', sans-serif;
}

.card {
    width: 200px;
    height: 200px;
}

.brand-logo {
    margin: 5px;
}

#biography:hover {
    border 
}

img {
    width: 200px;
    height: 300px;
}

@media screen and (max-width: 1000px) {
    .card {
        display: flex;
        flex-direction: column;
    }
}