html {
    font-family: 'Spartan', sans-serif;
}

.card {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    height: 200px;
}

.brand-logo {
    margin: 5px;
}

#biography:hover {
    border 
}

img {
    width: 200px;
    height: 300px;
}

/* .collection-item, .li, .ul, */
#below { 
    position: relative;
    top: 100px;
    list-style-type: none;
}

/* @media screen and (max-width: 1000px) {
    .card {
        display: flex;
        flex-direction: column;
    }
} */